/*
Theme: Scratch Theme
Theme URI: http://www.example.com
Description: My awesome theme description
Author: Auralcat
Author URI: http://www.example.com
Version: 1.0
*/

/* This file must go in the base theme folder, in this case it's auralcat-scratch, NOT assets! */