/*
Theme: Scratch Theme
Theme URI: http://www.example.com
Description: My awesome theme description
Author: Auralcat
Author URI: http://www.example.com
Version: 1.0
*/

/* This file must go in the base theme folder, in this case it's auralcat-scratch, NOT assets! */

/* Remove standard HTML margins */
body {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: Helvetica
}

p {
    font-family: 'Open Sans', sans-serif;
}

header {
    height: 1043px;
    background: url(assets/images/bg-image.jpg) center top;
}

/* Wrapper inside the header */
.wrap {
    margin: 0 auto;
    width: 960px;

}